In [2]:
import pickle
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras import models

In [3]:
# Lode the model
model = models.load_model('ANN_regression_model.h5')
   
# Load the encoders and scaler
with open('lable_Encoding_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('One_Hot_Encoding_Geography.pkl', 'rb') as file:
    one_hot_encoder_geography = pickle.load(file)    
    
with open('Feature_scaling.pkl', 'rb') as file:
    feature_scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [9]:
# Example data
input_data = {
    "CreditScore": 600,
    "Geography": "France",
    "Gender": "Male",
    "Age": 40,
    "Tenure": 3,
    "Balance": 60000,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "Exited": 0
}

# Convert input data to dataframe
input_data_df = pd.DataFrame(input_data, index=[0])    
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,Male,40,3,60000,2,1,1,0

In [10]:
# One-hot encoding for "Geography" from the input data
geography_value = input_data['Geography']
encoded_geography = pd.DataFrame([[1 if geography_value == col else 0 
                                 for col in one_hot_encoder_geography.columns]], 
                               columns=one_hot_encoder_geography.columns)

encoded_geography_df = pd.DataFrame(
    encoded_geography, 
    columns=one_hot_encoder_geography.columns
)

encoded_geography_df

   France  Germany  Spain
0       1        0      0

In [11]:
# Label encoding for "Gender" from the input data 
input_data_df['Gender']=label_encoder_gender.transform(input_data_df['Gender'])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,1,40,3,60000,2,1,1,0

In [12]:
# Concatenate the input_data_df and the encoded_geography_df and drop the "Geography" column
new_input_data_df = pd.concat([input_data_df.drop(['Geography'],axis=1), encoded_geography_df], axis=1)
new_input_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,France,Germany,Spain
0,600,1,40,3,60000,2,1,1,0,1,0,0

In [17]:
# Scaling the input data
scaled_input_data = feature_scaler.transform(new_input_data_df)
scaled_input_data

array([[-0.50370504,  0.90349032,  0.12376298, -0.69504653, -0.25459698,
         0.8092673 ,  0.64909152,  0.97099198, -0.50846838,  0.99401789,
        -0.5764705 , -0.5736112 ]])

In [18]:
# Predict the output
predicted_value = model.predict(scaled_input_data)
predicted_value = predicted_value[0][0]
print("The Estimated Salary is :", predicted_value)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step
The Estimated Salary is : 79787.99